@model IEnumerable<Campeonato.Models.Placar>

@{
    ViewData["Title"] = "Primeira Questão";
}

<br />
<br />
<div class="well">
<p>PARTE 1: 4 pontos</p>

<p>Na aula de quarta iniciamos uma tarefa que deve ser finalizadas. Para quem não foi na aula segue o roteiro:</p>



<p>Crie um projeto .NET Core WEB application para fazer a gestão dos pontos de um campeonato. O sistema deve ser capaz de gerenciar Jogadores e Placares.</p>

<p>Um Jogador deve conter os seguintes campos:</p>

<p>·   Nome (Obrigatório)</p>

<p>·   Idade (Obrigatório)</p>

<p>·   Nacionalidade (Opcional)</p>

<p>Já o placar é composto pelos seguintes campos, todos obrigatórios:</p>

<p>·   O jogador que fez a pontuação</p>

<p>·   O total de Pontos (Não negativo)</p>

<p>·   O dia que aquela pontuação foi obtida</p>

<p>Além dos CRUDS de ambas as entidades, o sistema deve ter uma página que mostre os 10 melhores Placares. (DICA a solução será muito parecida com a Action Index)</p>

</div>
<style>
    p {
       font-weight:bold;
    }
</style>

